body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.text-center{
    text-align: center;
}
img{
    max-width: 100%;
}
.text-uppercase{
    text-transform: uppercase;
}

.page-title{
    letter-spacing: 1px;
}
.page-description{
    color: gray;
    font-size: 16px;
}
.img-lazy{
    width: 800px;
}
.news-container{
    margin-top: 100px;
}
.news-post{
    width: 800px;
    margin-bottom: 50px;
}
.news-post-author{
    font-size: 14px;
    color: lightgreen;
    font-weight: bold;
}
.news-post-date{
    font-size: 14px;
    color: gray;
    font-weight: bold;
}
.news-post-title{
    border-left: 4px solid black;
    padding-left: 10px;
}
.news-post-text{
    border-left: 4px solid gray;
    padding-left: 10px;
    font-style: italic;
    line-height: 22px;
}
.news-post-link{
    color: cadetblue;
    font-weight: bold;
    text-transform: uppercase;
}